<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.0.13/css/all.css">
  <title>Profil</title>

  </head>
  <body>
    
    <div class="container">
      <div class="row">
        <div class="col-md-3 ">
            <div class="list-group ">
                  <div class="list-group-item list-group-item-action active">Bienvenue</div>
                  
                </div> 
        </div>
        <div class="col-md-9">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Votre Profil:</h4>
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h6>Porte-monnaie :</h6>
                            <p>1000 €</p>
                            <hr>
                        </div>
                        
                        <div class="col-md-12">
                            <h6>Activités récentes: </h6>
                            <span><i class="fas fa-futbol"></i><strong> Football</strong></span>
                            <p>Vous avez parié sur le match <strong>PSG - MONACO</strong></p>
                            <span><i class="fas fa-futbol"></i><strong> Football</strong></span>
                            <p>Vous avez parié sur le match <strong>BORDEAUX - OL</strong></p>
                            <hr>
                        </div>
                        
                        <div class="col-md-12">
                          <h6>Notifications : </h6>
                          <p><strong>Aujourd'hui seulement</strong>: Bénéficiez du double de vos gains sur tous vos paris !!! <strong>N'ATTENDEZ PAS, PARIEZ</strong></p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
      </div>
    </div>
  </body>
</html>

