* {
	box-sizing: border-box;
}

#body{
    background-color:whitesmoke;
    background-size:cover;
    font-family:Arial;
	font-size: 17px;
  }
  /*banderole foot*/
.bande_calendrier {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  margin-top:50px;
}
      
      
.bande_calendrier .write {
  position: absolute;
  bottom: 0;
  top:0;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 40%;
  padding: 110px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.liste_match {
    background:none;
    padding: 0;
    margin-left: 10px;    
    display: flex;
    flex-direction: column;   
}
/*span.icon-foot{
    float:none;
    position: absolute;
    left: -9px;
    z-index: auto;
    color: black;
}*/

.matchname{
    color:black;
    font-size: 14px;
    font-weight: 600;
    display: inline;
    position: static; 
}
.ligue{
    color: red;
    font-size: 14px; 
}
.icon-foot,.icon-tennis,.icon-basket {
    color:black;
}
li{
    position: static;
    border-bottom: 2px solid #ccc;

}

.date {
    overflow: hidden;
    margin-top: 50px;
    border-bottom: 2px solid #ccc;  
    max-width: 50%;
}
.date button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}
.date button:hover {
    background-color: #ddd;  
}
.date button.active {
    border-bottom-style: solid;
    border-bottom-width: 6px;
    border-color: blue !important;
    padding: 8px 16px !important;
    color:black;
}
    
.date button:hover:not(.active){
    border-bottom-style: solid;
    border-bottom-width: 6px;
    border-color: blue !important;
    padding: 8px 16px !important;
}

.slide{
    display: none;
}
