.ligne_haut{
    width: 100%;
    background-color: rgb(91, 152, 223);
    color: white;
    display : flex;
    flex-direction: row;
    justify-content: center;
    
}

#logo{
    margin: 0 auto;
    width : 200px;
    padding : 20px;
    font-size: 20px;
    align-self: center;
 
}

#bouton{
   	width : 240px;
    padding : 5px;
    position: absolute;
    right: 10px;
    top: 20px;
}
 

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(91, 152, 223);
    border: 1px solid whitesmoke;
}

li {
    float: left;
  }
  
  li a, .sport {
    display: block;
    color:white;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
  }
  
  li a:hover:not(.active), .liste_sport:hover {
    background-color:whitesmoke;
    color: black;
  }

  li.liste_sport {
    display: inline-block;
  }
  .sport-content {
    display: none;
    position: absolute;
    background-color: rgb(91, 152, 223);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .sport-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .sport-content a:hover {background-color:whitesmoke}

  .liste_sport:hover .sport-content {
      display: block;
}
.liste_sport:hover .sport {
    background-color: whitesmoke;
    color: black;
  }
  .active {
    background-color: whitesmoke;
    color: black;
  }




.contenu_principal{
	width: 70%;
	height: 1000px; 
	background-color: white;
    color: black;
    font-style: normal;
	font-size: 20px;
	padding: 10px;
	margin-top:10%;    
	
}

.image_hover{
  position: absolute;
  z-index:10;
   overflow:hidden;
  -webkit-border-radius:1000px;
  -moz-border-radius:1000px;
  border-radius:1000px;
  
}

.image_hover:hover{
  z-index:8;
  opacity: 0.5;
}

.texte_hover{

  position: relative;
  top: 120px; left: 40px;
  padding:3px 5px;
  z-index: 9;
  color: black;
}


#img2{
  margin-top:70%;
  
}

#img_logo{
  float: left;
}



