.ligne_haut{
    width: 100%;
    background-color: rgb(91, 152, 223);
    color: white;
    display : flex;
    flex-direction: row;
    justify-content: center;
    
}

#logo{
    margin: 0 auto;
    width : 200px;
    padding : 20px;
    font-size: 20px;
    align-self: center;
 
}

#bouton{
   	width : 70px;
    padding : 5px;
    position: absolute;
    right: 40px;
    top: 20px;
}

