.ligne_haut{
    width: 100%;
    background-color: whitesmoke;
    color: black;
    display : flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 4px;
    border:2px solid navy;
    
}

#logo{
    margin: 0 auto;
    width : 200px;
    padding : 20px;
    font-size: 20px;
    align-self: center;
 
}

#bouton{
   	width : 70px;
    padding : 5px;
    position: absolute;
    right: 40px;
    top: 20px;
}

