body{
  background:url("../Image/index.png") no-repeat center fixed;
  background-size: cover;
  
 
  
}
.ligne_haut{
    max-width: 100%;
    background-color: rgb(23, 23, 24);
    color: white;
    display : flex;
    flex-direction: row;
    justify-content: center;
    
}

#logo{
    margin: 0 auto;
    max-width : 200px;
    padding : 20px;
    font-size: 20px;
    align-self: center;
 
}

#bouton{
   	max-width: 240px;
    padding : 5px;
    position: absolute;
    right: 10px;
    top: 20px;
}

input{
    border: 2px solid black;
    border-radius: 4px;
}

 
.navigation-bar{
  max-width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(23, 23, 24);
    
}

li {
    float: left;
  }
  
  li a, .sport {
    display: block;
    color:white;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
  }
  
  li a:hover:not(.active), .liste_sport:hover {
    background-color:whitesmoke;
    color:black;
  }

  li.liste_sport {
    display: inline-block;
  }
  .sport-content {
    display: none;
    position: absolute;
    background-color: rgb(23,23,24);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .sport-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .sport-content a:hover {background-color:whitesmoke}

  .liste_sport:hover .sport-content {
      display: block;
}
.liste_sport:hover .sport {
    background-color: whitesmoke;
    color: black;
  }
  .active {
    background-color: whitesmoke;
    color: black;
  }


.page{
	max-width: 100%;
	height: 100%;
    display : flex;
    flex-direction: row;
    justify-content: center;
}

.contenu{
	position: relative;
	padding-right:10px;
	padding-left:10px;
	color: black;
    font-style: normal;
    font-size: 120%;

	margin-top: 5%;
	max-width: 90%;
	height: 1800px;
	align-self: center;
}

.contenu_principal{
	
	height: 1690px; 
	max-width: 70%; 	
	margin-top: 10%;    
	float: left;
	
	
}


.image_hover img{
	padding-left : 2%;
	padding-top: 15%;
  	overflow : hidden;
  	border-radius: 1000px;  
  	transform: scale(1);
  	height: 90%;
    width: 90%;
    margin-top: -150px;
}

.image_hover img:hover{
  opacity: 0.35;
  transform: scale(1.2);
}

.texte_hover{
	margin-top: -35%;
	margin-left: 10%;
	font-size: 120%;
	
	
	
}

#img2{
	margin-top: 300px;
}


.contenu_secondaire{
  max-width: 30%;
  height: 30%;
  position: sticky;
  top:0;
  margin: 0 0 20px;
  box-sizing:border-box;
  display: block;
  float:left;
  line-height:14.4px;
  border: 2px black;
  background-color: whitesmoke;
  border-radius: 5px;
 
}

.gros_paris{
  float: center;
  max-width: 30%;
}

/*style du pied de page*/
#fin a{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  float: initial;
  text-align: center;
  text-decoration: none;

  
}
footer{
  max-width: 100%;
  position: relative;
  padding: 10px 10px;
  margin-top: 100%;
  background-color: rgb(23,23,24);
  
}
#fin a:hover{
  color:red;
}
#logo-bas{
  float:right;
  position: relative;
  top:-90px;
  bottom:0px;
  padding-right: 30px;
  

}




